body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
}

div.header {
  height: 8%;
  background-color: #3949AB;
  text-align: center;
}

.header h1 {
  color: white;
  margin: 0;
  padding: 18px 0;
}

div.content {
  height: 86%;
  margin: 0px;
  padding: 3%;
}

div.section {
  background-color: #c8c8c8;
  border-radius: 5px;
  width: 50%;
  padding: 30px;
  margin: 0;
  display: inline-block;
}

.flex_container {
  display: flex;
}

.flex_container h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

input[type=color] {
  background-color: transparent;
  height: 65px;
  width: 65px;
  border: none;
  padding: 0;
  margin: 4px;
}

input[type=button], input[type=submit] {
  background-color: #283593;
  color: white;
  border: none;
  padding: 12px 18px;
  margin: 4px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

td {
  text-align: left;
  padding: 2px 5px;
}

td.center {
  text-align: center;
}

div.footer {
  background-color: #3949AB;
  text-align: center;
  height: 6%;
}

.footer p {
  font-weight: 600;
  color: white;
  margin: 0;
  padding: 18px 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  top: -5px;
  left: 205%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
