body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
}

div.header {
  height: 8%;
  background-color: #01579B;
  text-align: center;
}

.header h1,h2,p {
  color: white;
  margin: 0;
  padding: 18px 0 0;
}

div.content {
  height: 86%;
  margin: 0px;
}

div.section {
  background-color: #c8c8c8;
  border-radius: 5px;
  width: 50%;
  padding: 30px;
  margin: 3% auto 1%;
  display: inline-block;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

td {
  text-align: left;
  padding: 2px 5px;
}

td.center {
  text-align: center;
}

div.footer {
  background-color: #01579B;
  text-align: center;
  height: 6%;
}

.footer p {
  font-weight: 600;
  color: white;
  margin: 0;
  padding: 18px 0 0;
}
