{% extends "base.html" %}

{% block title %}Website!{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1>DMC Color Picker</h1>
<p>idk!!!!!</p>

<form method="POST" action="/">
  Pick a color:
  <input type="color" name="color_in">
  <input type="submit" value="Submit">
</form>

<div class="section">
{% if results %}
  <table>
    <tr>
      <th>DMC Code</th>
      <th>Name</th>
      <th>Color</th>
    </tr>
    {% for dmc in results %}
      <tr>
        <td class="center">{{ dmc[0] }}</td>
        <td>{{ dmc[1] }}</td>
        <td style="background-color: {{ dmc[2] }}; border: 1px solid black"></td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
</div>

{% endblock %}


{% block footer %}
  <p>Project created by Irene Allman and Juliana Pacheco for Swamphacks VI.</p>
{% endblock %}
