<extends "base.html" %>
<block title %>Website!</block>
<block head %>
<style type="text/css">
        h1 {color:red;}
        p {color:blue;}
    </style>
    
<endblock %>
<block content %>
<h1>Noooo!!!</h1>
<p>idk!!!!!</p>

<form method="POST" action="/process">
    RGB: 
    <input type="text" value="Plz enter" name="rgbval"> 
    or Hex: 
    <input type="text" value="Plz!" name="hexval">
    <input type="submit" value="Submit">
</form>

{% if rgb %}
  <h1>{{rgb}}</h1>
  {% endif %}
  {% if hex %} 
  <p>{{hex}}</p>
  {% endif %}
    
<endblock %>